Colorization/dataset/BigEarthNet_all_refactored_no_clouds_and_snow_v2_new_path.csv
Colorization/dataset/BigEarthNet_all_refactored.csv
Multi_label_classification/dataset/BigEarthNet_all_refactored_no_clouds_and_snow_v2_new_labels.csv
Multi_label_classification/dataset/BigEarthNet_all_refactored_no_clouds_and_snow_v2_new_path_new_labels.csv
